{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
<table>
<tr>
	<th>Title</th>
	<th>Description</th>
</tr>
{% for t in categories %}
	<tr>
		<td>{{ t.name }}</td>
		<td>{{ t.description }}</td>
	</tr>
{% endfor %}
</table>


{% endblock %}


{% block javascripts %}{% endblock %}