{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
<table>
<tr>
	<th>Title</th>
	<th>Year</th>
</tr>
{% for t in movies %}
	<tr>
		<td>{{ t.title }}</td>
		<td>{{ t.year }}</td>
	</tr>
{% endfor %}
</table>	

		

{% endblock %}

{% block javascripts %}{% endblock %}
