{% extends 'base.html.twig' %}

{% block title %}Construye tu propia base!{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
<table>
<tr>

</tr>

	<tr>
		
	</tr>

</table>	

		

{% endblock %}

{% block javascripts %}{% endblock %}